.address-container > * {
  margin-bottom: 1rem !important;
}

.addres-container-horisontal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  padding-inline: 2rem;
  padding-block: 1rem;
}

address.address-base > :is(h1, h2, h3, h4, h5, h6, p):first-child {
  font-size: 1rem;
  position: relative;
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: var(--primary);
}

address.address-base > :not(:first-child) {
  font-size: 0.975rem;
  margin: 0;
  line-height: 1.5rem;
}
