/* -----------------Content Board----------------------- */
/* 
→ Base styling
→ ...add new here
→ Generall CSS rules
npm
*/
/* ----------------------------------------------------- */
button.pill {
  position: relative;

  font-size: 12px;
  padding: var(--spacing-50) var(--spacing-100);
  border: 0px solid transparent;

  height: fit-content;
  width: fit-content;

  background-color: var(--color-neutral-300);
  border-radius: var(--radius-sm);

  &:hover {
    filter: brightness(0.95);
  }

  &:active {
    transition: filter 0.2s ease, transform 0.2s ease;
    filter: brightness(0.9);
    transform: scale(0.95);
  }

  &.outline {
    height: fit-content;
    width: fit-content;
    cursor: default;

    background-color: transparent;
    border: 1px solid var(--color-neutral-300);
  }
  &.neutral {
    background-color: transparent;
    border: transparent;
  }

  &.sm {
    font-size: 11px;
    line-height: fit-content;
  }
  &.md {
    font-size: 12px;
  }
  &.lg {
    font-size: 13px;
    padding: var(--spacing-50) var(--spacing-100);
  }

  &.sharp {
    border-radius: 0px;
  }
  &.soft {
    border-radius: var(--radius-md);
  }
  &.rounded {
    border-radius: var(--radius-full);
  }
}
