* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: darkblue;
}

.gameBoi {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  background-color: cyan;
  border: 16px solid gray;
  padding: 24px;
  border-radius: 24px 24px 48px 24px;

  height: 600px;
  width: 400px;
}

.screenFrame {
  background-color: darkgray;
  border: 8px solid black;
  border-radius: 16px 16px 32px 16px;
  padding: 16px 24px;
}

.screen {
  position: relative;
  background-color: lightblue;
  border: 8px solid black;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
}

.reflex {
  position: absolute;
  width: 100px;
  height: 1000px;
  opacity: 0.4;
  margin-top: -50px;
  left: -30px;
  transform: rotate(20deg);
  background-color: white;
}

.bContainer {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
}

.controlls {
  padding-block: 48px;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.sticks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

.stick {
  background-color: gray;
  height: 100px;
  width: 25px;
  border: 8px solid black;
  border-radius: 8px;
}

.stickX {
  transform: rotate(90deg);
  margin: -20px;
}

.btns {
  display: flex;
  gap: 16px;

  & * {
    border-radius: 100%;
    background-color: gray;
    border: 8px solid black;
    height: 50px;
    width: 50px;
  }
}

.btnl {
  margin-top: 20px;
}

.controllfooter {
}

.controllfootersticks {
  &* {
  }
}
