input[type="file"].fileInput {
  display: flex;
  border: 1px solid var(--color-neutral-200);
  cursor: auto;

  &::file-selector-button {
    background: none;
    padding: var(--spacing-50) var(--spacing-100);
    border: none;
    cursor: pointer;
  }
  &.sharp {
    border-radius: var(--radius-sharp);
  }
  &.smooth {
    border-radius: var(--radius-md);
  }
  &.rounded {
    border-radius: var(--radius-full);
  }

  &:user-invalid {
    border-color: var(--color-error);
  }
}
