.formField {
  /* Defualt */
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-25);
  margin-block: var(--spacing-50);
  border: transparent;

  .helpText,
  .status {
    font-size: var(--font-size-sm);
  }

  & .label-group,
  label {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;

    color: var(--color-neutral-900);

    & :has(*) {
      justify-content: space-between;
    }

    & :is(svg, img, i) {
      width: 16px;
      height: 16px;
      margin-bottom: auto;
    }
  }

  & label {
    &:has(input[type="radio"]) {
      font-weight: 400;

      & input[type="radio"] {
        margin-block: auto;
        margin-left: 0px;
      }

      gap: var(--spacing-50);

      .formField.sm & {
        font-size: var(--font-size-sm);
      }
      .formField.md & {
        font-size: var(--font-size-md);
      }
    }
  }

  & label & .status {
    display: none;
  }

  /* 📊 State */
  & :has(input:disabled) {
    color: var(--color-neutral-500);
    input {
      border: 1px solid var(--color-neutral-400);
    }
    .helpText {
      display: none;
    }

    margin-block: var(--spacing-50);
  }

  /* If we have error dont show help-text */
  &:has(input:user-invalid) .helpText {
    display: none;
  }

  &:has(input:user-invalid) .status {
    display: block;
    color: var(--color-error, red); /* Lägg till valfri färg för fel */
  }

  &.sm {
    & .status,
    .helpText {
      font-size: var(--font-size-sm);
    }

    & .helpText {
    }
  }
  &.md {
  }
  &.lg {
  }
}
